# Example configuration file for Arch-AD-Join.sh
# Kerberos is assumed as an all uppercase value of the DNS name.
# RFC2307 set to true adds RFC2307 based settings in the Samba configuration. (default: false)
# Printers set to true removes local printer sharing blocks in the Samba configuration. (default: false)
# Aduser sets the user account that the script will attempt to join the domain as. (default: Administrator)

NetBIOS=INTERNAL
DNS=internal.domain.tld
DC=server1.internal.domain.tld;192.168.1.1
DC=server2.internal.domain.tld;192.168.1.2
RFC2307=false
Printers=false
ADuser=Administrator
